<!DOCTYPE html>
<head>
	 <meta charset="UTF-8"> 
	<title>Gomba tár</title>
	<link rel="stylesheet" href="/style.css" />
	<script type="application/javascript" src="/script.js" ></script>
</head>
<body>

<div class="panel-left" >
	<% if ( fullPath == '/' ) { %>
		<% include filters %>
	<% } %>
</div>
<div class="panel-center" >
	<!--<div class="menu-container" >
		<a href="/" class="menu-item" >Kezdő oldal</a>
		<a href="/list" class="menu-item" >Listázás</a>
		<a href="/new" class="menu-item" ><button>Új találat</button></a>
	</div>-->


